/* Общие стили */

body {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  font-weight: normal;
  font-family:"Roboto", "rial", sans-serif;
  cursor: pointer;
}
.page-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: bold;
  padding-top: 65px;
  padding-bottom: 135px;
}
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}
.logo-top {
  width: 160px;
  float:left;
  margin-right: 200px;
  margin-top: 50px;
  cursor: pointer;
}
.logo-top img:hover {
  background-image: url("../img/nerds-logo hvr.png");
}
.top-header {
  margin-bottom: 50px;
}
.main-navigation {
  width: 440px;
  float:left;
  margin-right: 230px;
}
.main-navigation ul {
  font-size: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.main-navigation li {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  margin-right: 45px;
  margin-top: 75px;
}
.main-navigation li:last-child {
  margin-right: 0;
}
.main-navigation a {
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  color: black;
}
.main-navigation a:hover {
  color: #fb565a;
}
.user-block {
  width: 130px;
  float:right;
  margin-top: 75px;
  position: relative;
}
.user-block a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}
.user-block a:hover {
  color: #fb565a;
}
.user-block::before {
  content: "";
  position: absolute;
  top: 5px;
  right: 155px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  background-position: -10px -10px;
}
.main-header {
  margin-bottom: 20px;
}
.main-navigation .active {
  color: #bdbdbd;
  position: relative;
}
.main-navigation .active::before {
  content: "";
  position: absolute;
  top: 25px;
  width: 75px;
  height: 3px;
  background: #e74246;
}
.map {
  min-height: 416px;
  margin-bottom: 68px;
  margin-top: 100px;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  padding-top: 70px;
}
.contacts {
  width: 200px;
  padding: 35px 50px;
  background: white;
}
.contact-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
.contact-info {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  font-weight: normal;
  margin-bottom: 40px;
}
.btn {
  text-transform: uppercase;
  text-align: center;
  padding: 15px 35px;
  background: #fb565a;
  color: white;
  border-radius: 3px;
}
.btn:hover {
  text-transform: uppercase;
  text-align: center;
  padding: 15px 35px;
  background: #e74246;
  color: white;
  border-radius: 3px;
}
.social-btns {
  width: 270px;
  float: left;
  margin-bottom: 72px;
  font-size: 0;
  cursor: pointer;
}
.social-btn {
  position: relative;
  padding-right: 72px;
  background: #e1e1e1;
  width: 10px;
  height: 80px;
  border-radius: 50%;
}
.social-btn:hover {
  position: relative;
  padding-right: 72px;
  background: #e74246;
  width: 10px;
  height: 80px;
  border-radius: 50%;
}
.social-btn::before {
  position: absolute;
  content: "";
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}
.social-btn-vk {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.social-btn-vk::before{
  width: 26px;
  height: 15px;
  background-position: -10px -382px;
  bottom: 30px;
  left: 27px;
}
.social-btn-fb {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.social-btn-fb::before {
  width: 12px;
  height: 22px;
  background-position: -10px -299px;
  bottom: 30px;
  left: 33px;
}
.social-btn-inst {
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 0;
}
.social-btn-inst::before {
  width: 21px;
  height: 21px;
  background-position: -10px -341px;
  bottom: 30px;
  left: 30px;
}
.promo-text {
  width: 570px;
  margin-right: 100px;
  float: right;
  margin-bottom: 72px;
}
.popup {
  display: none;
}
.promo-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
}
/* Главная */
.main-header {
  background:#eeeeee;
}
.slider{
  position:relative;
  width:880px;
  height:310px;
  margin:0 auto;
}
.slider input[type=radio] {
  position:absolute;
  opacity:0;
}
.slider-controls{
  position:absolute;
  bottom:95px;
  left:50%;
  width:200px;
  height:10px;
  margin-left:-100px;
  text-align:center;
  z-index:1000;
}
.slider-controls label{
  display:inline-block;
  width:4px;
  height:4px;
  margin:0 3px;
  background:white;
  border:3px solid white;
  vertical-align:top;
  border-radius:50%;
  cursor:pointer;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background:#c1c1c1;
}
.slide {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  overflow:hidden;
}
.slide-text {
  width:380px;
  padding:30px 0;
  color:#283136;
}
.slide-title{
  font-size:36px;
  line-height:1px;
  font-weight:bold;
  color:black;
}
.slide .btn{
  display: inline-block;
  width:240px;
  padding:10px 0;
  margin-top:25px;
  font-size:16px;
  color:white;
  text-transform:uppercase;
  text-align:center;
  text-decoration:none;
  background:#fb565a;
  border-radius:3px;
}
.slide .btn:hover {
  display: inline-block;
  width:240px;
  padding:10px 0;
  margin-top:25px;
  font-size:16px;
  color:white;
  text-transform:uppercase;
  text-align:center;
  text-decoration:none;
  background: #e74246;
  border-radius:3px;
}
.slide:nth-child(1) {
  background-image:url("../img/slider-1.jpg");
  background-repeat:no-repeat;
  background-position:100% 10px;
}
.slide:nth-child(2) {
  background-image:url("../img/slider-2.jpg");
  background-repeat:no-repeat;
  background-position:100% 10px;
}
.slide:nth-child(3) {
  background-image:url("../img/slider-3.jpg");
  background-repeat:no-repeat;
  background-position:100% 0;
}
.slide{
  display:none;
}
#btn-1:checked ~ .slides .slide:nth-child(1) {
  display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) {
  display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3) {
  display: block;
}
.features {
  width: 1160px;
  margin-top: 82px;
}
.feature {
  width: 300px;
  margin-right: 100px;
  float: left;
}
.feature:last-child {
  margin-right: 0;
}
.feature-title {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}
.feature p {
  margin-bottom: 40px;
}
.features .btn {
  text-decoration: none;
}
.btn-green {
  text-transform: uppercase;
  text-align: center;
  padding: 15px 35px;
  background: #00ca74;
  color: white;
  border-radius: 3px;
}
.btn-green:hover {
  text-transform: uppercase;
  text-align: center;
  padding: 15px 35px;
  background: #00bc6c;
  color: white;
  border-radius: 3px;
}
.btn-yellow {
  text-transform: uppercase;
  text-align: center;
  padding: 15px 35px;
  background: #efc84a;
  color: white;
  border-radius: 3px;
}
.btn-yellow:hover  {
  text-transform: uppercase;
  text-align: center;
  padding: 15px 35px;
  background: #eab534;
  color: white;
  border-radius: 3px;
}
.about-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.about-us {
  margin-top: 120px;
  font-size: 0;
}
.about-left {
  width: 660px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 118px;
  margin-right: 120px;
}
.about-left ul {
  margin-left: 5px;
  font-size: 0;
  list-style: none;
}
.about-left li {
  font-size: 14px;
  position: relative;
  margin-bottom: 17px;
}
.about-left li::before {
  content: "";
  position: absolute;
  top: 12px;
  left: -45px;
  width: 25px;
  height: 2px;
  background: #fb565a;
}
.about-text {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 50px;
}
.about-right {
  width: 360px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 118px;
}
.about-right ul {
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}
.numbers li {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 18px;
  width: 100px;
  margin-right: 24px;
}
.numbers li:last-child {
  width: 104px;
  margin-right: 0;
  padding: 0;
}
.numbers b {
  font-size: 45px;
  line-height: 0;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0;
}
.numbers p {
  padding: 0;
  margin: 0;
}
.clients {
  font-size: 0;
}
.client {
  width: 295px;
}
.client:first-child,.client:last-child {
  width: 275px;
}
.clients a {
  display:inline-block;
  vertical-align:middle;
  cursor: pointer;
}
.client img {
  display: inline-block;
  vertical-align:middle;
}
.client-1 img:hover {
  background: url("../img/logo-1.png hvr.png");
}
.client-2 img:hover {
  background: url("../img/logo-2.png hvr.png");
}
.client-3 img:hover {
  background: url("../img/logo-3.png hvr.png");
}
.client-4 img:hover {
  background: url("../img/logo-4.png hvr.png");
}

/* Каталог */
.page-title {
  text-align: center;
}
.filters {
  width: 260px;
  float:left;
  margin-right: 100px;
}
.price-range {
  width: 260px;
  float: left;
}
.filter-row {
  float: left;
  width: 270px;
  margin-bottom: 16px;
}
.filter-btn {
  float: left;
  width: 260px;
  margin-top: 40px;
}
.filter-title {
  float: left;
  width: 140px;
  padding-bottom: 21px;
  margin: 0px;
  text-transform: uppercase;
  font-weight: bold;
}
.filter-title-top {
  float: left;
  width: 140px;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 242px;
}
.range-filter {
  width: 240px;
  margin-bottom: 57px;
  margin-top: 53px;
}
.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  background: #eeeeee;
  border-radius: 3px;
}
.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}
.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}
.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  border: 8px solid white;
  background: #ababab;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cccdcd;
}
.range-controls .min-toggle {
  left: 10px;
}
.range-controls .max-toggle {
  left: 110px;
}
.price-controls {
  font-size: 0;
}
.price-controls label {
  font-size: 16px;
  display: inline-block;
  width: 50%;
}
.max-price {
  text-align: right;
}
.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  border: none;
  background: #eeeeee;
  font-size: 16px;
  font-family: 'Roboto',Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  color: black;
  border-radius: 5px;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  display: block;
  margin: 0;
  line-height: 20px;
  padding-left: 30px;
  position: relative;
  cursor: pointer;
}
input[type="checkbox"] + label::before {
  content: "";
  display: block;
  position: absolute;
  width: 23px;
  height: 23px;
  background: url("../img/sprite.png");
  background-position: -10px -45px;
  left: 0;
  top: 0;
}
input[type="checkbox"] + label:hover::before {
  content: "";
  display: block;
  position: absolute;
  width: 23px;
  height: 23px;
  background: url("../img/sprite.png");
  background-position: -10px -88px;
  left: 0;
  top: 0;
}
input[type="checkbox"]:checked + label::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background: white url("../img/sprite.png");
  width: 27px;
  height: 23px;
  background-position: -10px -131px;
}
input[type="checkbox"]:checked + label:hover::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background: white url("../img/sprite.png");
  width: 27px;
  height: 23px;
  background-position: -10px -174px;
}
input[type="radio"] {
  display: none;
}
input[type="radio"] + label {
  display: block;
  margin: 0;
  line-height: 20px;
  padding-left: 30px;
  position: relative;
  cursor: pointer;
}
input[type="radio"] + label::before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  background: white;
  border: 2px solid #b8b8b8;
  border-radius: 15px;
  left: 0;
  top: -1px;
}
input[type="radio"] + label:hover::before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  background: white;
  border: 2px solid #4d4d4d;
  border-radius: 15px;
  left: 0;
  top: -1px;
}
input[type="radio"]:checked + label::after {
  content: "";
  display: block;
  position: absolute;
  left: 8px;
  top: 7px;
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background: #b8b8b8;
}
input[type="radio"]:checked + label:hover::after {
  content: "";
  display: block;
  position: absolute;
  left: 8px;
  top: 7px;
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background: #4d4d4d;
}
.filter-btn {
  text-transform: uppercase;
  text-align: center;
  padding: 15px 35px;
  background: #eeeeee;
  border-radius: 3px;
  border: 1px solid #eeeeee;
  cursor: pointer;
}
.filter-btn:hover {
  text-transform: uppercase;
  text-align: center;
  padding: 15px 35px;
  background: #dfdfdf;
  border-radius: 3px;
}
.catalog {
  width: 765px;
  float: right;
}
.sortby-form {
  float: left;
  width: 320px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.sortby-form li {
  display: inline-block;
  vertical-align: top;
  padding-left: 20px;
}
.sortby-form a {
  text-decoration: none;
  color: #bdbdbd;
  text-transform: uppercase;
}
.sortby-form a:hover {
  color: #666666;
}
.sortby-form .active {
  color: black;
}
.arrows {
  float: right;
  width: 40px;
}
.arrows a {
  position: relative;
}
.arrow-down::before {
  position: absolute;
  content: "";
  top: 7px;
  width: 0;
  height: 0;
  border-left: 4.5px solid transparent;
  border-right: 4.5px solid transparent;
  border-top: 9px solid black;
}
.arrow-down:hover::before {
  position: absolute;
  content: "";
  top: 7px;
  width: 0;
  height: 0;
  border-left: 4.5px solid transparent;
  border-right: 4.5px solid transparent;
  border-top: 9px solid #999999;
}
.arrow-up::before {
  position: absolute;
  content: "";
  top: 7px;
  left: 25px;
  width: 0;
  height: 0;
  border-left: 4.5px solid transparent;
  border-right: 4.5px solid transparent;
  border-bottom: 9px solid #cccccc;
}
.arrow-up:hover::before {
  position: absolute;
  content: "";
  top: 7px;
  left: 25px;
  width: 0;
  height: 0;
  border-left: 4.5px solid transparent;
  border-right: 4.5px solid transparent;
  border-bottom: 9px solid #999999;
}
.catalog-items {
  font-size: 0px;
}
.circle {
  position: relative;
}
.circle::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 65px;
  width: 15px;
  height: 15px;
  background: white;
  border-radius: 50px;
}
.catalog-item {
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  position: relative;
}
.catalog-item::after {
  content: "";
  position: absolute;
  top: 13px;
  left: 15px;
  width: 15px;
  height: 15px;
  background: white;
  border-radius: 50px;
}
.catalog-item::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 40px;
  width: 15px;
  height: 15px;
  background: white;
  border-radius: 50px;
}
.catalog-item img {
  border-top: 40px solid #e9e9e9;
  border-radius: 3px;
  margin-bottom: 37px;
}
.catalog-item img:hover {
  border-top: 40px solid #4d4d4d;
  border-radius: 3px;
  margin-bottom: 37px;
  box-shadow: 0 0 9px 2px #d5d5d5;
}
.catalog-item:nth-child(odd) {
  margin-right: 40px;
}
.catalog-item:last-child {
  margin-bottom: 0;
}
.item-content {
  display: none;
}
.pagination ul {
  font-size: 0;
  margin: 0;
  padding: 0;
}
.pagination li{
  display: inline-block;
  vertical-align: bottom;
  padding: 8px 17px;
  background: #eeeeee;
  border-radius: 3px;
}
.pagination a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  cursor: pointer;
}
.pagination li:hover {
  background: #dfdfdf;
}
.pagination li:first-child {
  padding: 5px 14px;
  border-radius: 3px;
  border: 3px solid #dfdfdf;
  background: white;
}
