body {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  font-weight: normal;
  font-family:"Roboto", "Arial", sans-serif;
}
.slogan {
  font-size: 55px;
  line-height: 55px;
  font-weight: bold;
}
.page-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: bold;
}
.about-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
}
.feature-title {
  font-size: 24px;
  line-height: 30px;
}
.promo-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
}
.contact-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}
.contact-info {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  font-weight: normal;
}
.active {
  color: #666666;
}

/* Сетки главной */

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}
.logo-top {
  width: 160px;
  float:left;
}
.top-header {
  margin-bottom: 50px;
}
.main-navigation {
  width: 440px;
  float:left;
  margin-left: 200px;
  padding-left: 20px;
}
.main-navigation li {
  display: inline-block;
  vertical-align: top;
  font-size: 14;
  margin-right: 20px;
}
.main-navigation li:last-child {
  margin-right: 0;
}
.main-navigation ul {
  font-size: 0;
}
.user-block {
  width: 130px;
  float:right;
}
.main-header {
  margin-bottom: 20px;
}
.slider {
  width: 1200px;
  min-height: 415px;
}
.slider-text{
  width: 400px;
  float:left;
  text-align: left;
  margin-bottom: 45px;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.features {
  width: 1200px;
  margin-top: 82px;
}
.feature {
  width: 300px;
  margin-right: 100px;
  float: left;
}
.feature:last-child {
  margin-right: 0;
}
.about-us {
  margin-top: 120px;
}
.about-left {
  width: 660px;
  float: left;
  margin-bottom: 118px;
}
.about-right {
  width: 360px;
  float: right;
  margin-bottom: 118px;
}
.clients-box {
  display:inline-block;
  vertical-align:middle;
}
.clients {
  font-size: 0;
  padding: 30px;
}
.client {
  width: 215px;
  margin-right: 75px;
}
.client img {
  display: block;
}
.client-1 {
  width: 252;
}
.client-2 {
  width: 257;
}
.client-3 {
  width: 245;
}
.client-4 {
  width: 173;
  margin-right: 0;
}
.map {
  min-height: 416px;
}
.contacts {
  width: 200px;
  padding: 30px;
}
.social-btns {
  width: 260px;
  display: inline-block;;
  margin-bottom: 72px;
}
.promo-text {
  width: 560px;
  margin-right: 160px;
  float: right;
  margin-bottom: 72px;
}
.popup {
  display: none;
}

/* Сетки каталога */
.page-title {
  text-align: center;
}
.filters {
  width: 260px;
  float:left;
}
.filter-title {
  float: left;
  width: 140px;
  padding: 0px;
  margin: 0px;
}
.catalog {
  width: 765px;
  display: inline-block;
  font-size: 0px;
}
.sortby-form {
  float: left;
  width: 365px;
}
.sortby-form li {
  display: inline-block;
  vertical-align: top;
}
.catalog-item:nth-child(odd) {
  padding-left: 10px;
}
.item-content {
  display: none;
}
.pagination li{
  display: inline-block;
  vertical-align: bottom;
}
