body {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  font-weight: normal;
  font-family: "Roboto", "Arial", sans-serif;
  cursor: pointer;
}
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}
/* Верхнее меню */
.logo-top {
  width: 160px;
  float: left;
  margin-right: 150px;
  margin-top: 50px;
  cursor: pointer;
}
.logo-top img:hover {
  background-image: url("../img/nerds-logo hvr.png");
}
.main-navigation {
  width: 440px;
  float:left;
  margin-top: 2px;
  margin-right: 190px;
  padding-right: 10px;
  padding-left: 52px;
}
.main-navigation ul {
  font-size: 0;
  padding: 0;
  margin: 0;
  margin-top: 75px;
  cursor: pointer;
}
.main-navigation li {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  margin-right: 45px;
}
.main-navigation li:last-child {
  margin-right: 0;
}
.main-navigation a {
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  color: #000000;
}
.main-navigation a:hover {
  color: #fb565a;
}
.user-block {
  width: 110px;
  float: right;
  margin-top: 77px;
  position: relative;
  text-align: right;
}
.user-block a {
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
.user-block a:hover {
  color: #fb565a;
}
.user-block::before {
  content: "";
  position: absolute;
  top: 5px;
  right: 100px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  background-position: -10px -10px;
}
.main-header {
  margin-bottom: 30px;
  background-color: #eeeeee;
}
.main-navigation .active a {
  color: #bdbdbd;
  position: relative;
}
.main-navigation .active a::after {
  content: "";
  position: absolute;
  top: 25px;
  height: 3px;
  background-color: #e74246;
}
/* Контакты */
.map {
  background:#eeeeee url("../img/map.jpg") no-repeat;
  background-position: center;
  height: 416px;
  margin-top: 40px;
  position: relative;
}
.contacts {
  width: 220px;
  background: white;
  padding: 48px 50px;
  position: absolute;
  top: 55px;
}
.contact-title {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
.contact-info {
  margin-bottom: 30px;
}
.btn {
  text-transform: uppercase;
  text-align: center;
  padding: 15px 40px;
  background: #fb565a;
  color: #ffffff;
  border-radius: 3px;
}
.btn:hover {
  text-transform: uppercase;
  text-align: center;
  padding: 15px 40px;
  background: #e74246;
  color: #ffffff;
  border-radius: 3px;
}
.contacts .btn {
  text-transform: uppercase;
  text-align: center;
  padding: 15px 45px;
  background: #fb565a;
  color: #ffffff;
  border-radius: 3px;
}
.contacts .btn:hover {
  text-transform: uppercase;
  text-align: center;
  padding: 15px 45px;
  background: #e74246;
  color: #ffffff;
  border-radius: 3px;
}
.footer-bottom {
  margin-top: 70px;
}
.social-btns {
  width: 300px;
  float: left;
  margin-bottom: 72px;
  font-size: 0;
  cursor: pointer;
}
.social-btn {
  position: relative;
  padding-right: 75px;
  background: #e1e1e1;
  width: 5px;
  height: 79px;
  border-radius: 50%;
  margin-right: 50px;
}
.social-btn:hover {
  position: relative;
  padding-right: 75px;
  background: #e74246;
  width: 5px;
  height: 79px;
  border-radius: 50%;
}
.social-btn::before {
  position: absolute;
  content: "";
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}
.social-btn-vk {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.social-btn-vk::before{
  width: 26px;
  height: 15px;
  background-position: -10px -382px;
  bottom: 30px;
  left: 27px;
}
.social-btn-fb {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.social-btn-fb::before {
  width: 12px;
  height: 22px;
  background-position: -10px -299px;
  bottom: 30px;
  left: 33px;
}
.social-btn-inst {
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 0;
  margin-right: 0;
}
.social-btn-inst::before {
  width: 21px;
  height: 21px;
  background-position: -10px -341px;
  bottom: 30px;
  left: 30px;
}
.promo-text {
  width: 570px;
  margin-right: 190px;
  float: right;
}
.promo-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  margin-top: 3px;
  margin-bottom: 10px;
}
.promo-text p {
  margin: 0;
  padding: 0;
}

/* Главная */
.slider{
  position:relative;
  width: 100%;
  height:425px;
}
.slider input[type=radio] {
  position: absolute;
  opacity: 0;
}
.slider-controls{
  position: absolute;
  width: 200px;
  bottom: 100px;
  right: 480px;
  height: 17px;
  margin-left: -100px;
  text-align: center;
  z-index: 1000;
}
.slider-controls label{
  display:inline-block;
  width:5px;
  height:5px;
  margin:0 7px;
  background:white;
  border:7px solid white;
  vertical-align:top;
  border-radius:50%;
  cursor:pointer;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background:#c1c1c1;
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slide-text {
  width: 382px;
  margin: 0;
  margin-top: 67px;
  padding: 0;
  color: #283136;
}
.slide-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 29px;
}
.slide-text p {
  width: 360px;
}
.slide .btn{
  display: inline-block;
  vertical-align: middle;
  width: 240px;
  padding: 12px 0;
  margin: 0;
  margin-top: 25px;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background: #fb565a;
  border-radius: 3px;
}
.slide .btn:hover {
  display: inline-block;
  vertical-align: middle;
  width: 240px;
  padding: 12px 0;
  margin-top: 25px;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background: #e74246;
  border-radius: 3px;
}
.slider img {
  vertical-align: top;
}
.slide:nth-child(1) {
  background-image: url("../img/slider-1.jpg");
  background-repeat: no-repeat;
  background-position: 400px -6px;
}
.slide:nth-child(2) {
  background-image: url("../img/slider-2.jpg");
  background-repeat: no-repeat;
  background-position: 400px -6px;
}
.slide:nth-child(3) {
  background-image: url("../img/slider-3.jpg");
  background-repeat: no-repeat;
  background-position: 400px -6px;
}
.slide{
  display:none;
}
#btn-1:checked ~ .slides .slide:nth-child(1) {
  display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) {
  display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3) {
  display: block;
}
/* Features */
.features {
  margin-top: 78px;
}
.feature {
  width: 300px;
  margin-right: 100px;
  float: left;
}
.feature:last-child {
  margin-right: 0;
}
.feature img {
  padding-bottom: 20px;
}
.feature-title {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}
.feature p {
  margin: 0;
  padding: 0;
  margin-top: 16px;
  padding-right: 46px;
  margin-bottom: 46px;
}
.features .btn {
  text-decoration: none;
}
.btn-green {
  text-transform: uppercase;
  text-align: center;
  padding: 15px 40px;
  background: #00ca74;
  color: #ffffff;
  border-radius: 3px;
}
.btn-green:hover {
  text-transform: uppercase;
  text-align: center;
  padding: 15px 40px;
  background: #00bc6c;
  color: #ffffff;
  border-radius: 3px;
}
.btn-yellow {
  text-transform: uppercase;
  text-align: center;
  padding: 15px 40px;
  background: #efc84a;
  color: #ffffff;
  border-radius: 3px;
}
.btn-yellow:hover  {
  text-transform: uppercase;
  text-align: center;
  padding: 15px 40px;
  background: #eab534;
  color: #ffffff;
  border-radius: 3px;
}
/* About us*/
.about-us {
  margin-top: 92px;
  font-size: 0;
  position: relative;
  border-top: 2px solid #eeeeee;
  padding-top: 40px;
  margin-bottom: 74px;
}
.about-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  margin-top: 32px;
  margin-bottom: 35px;
}
.about-text {
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  margin:0;
  padding: 0;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.about-left {
  width: 665px;
  display: inline-block;
  vertical-align: top;
  margin-right: 135px;
  font-size: 16px;
}
.about-left .about-text {
  margin-bottom: 24px;
  margin-top: 22px;
}
.about-left ul {
  font-size: 0;
  list-style: none;
  padding: 0;
  margin: 0;
}
.about-left li {
  margin-left: 36px;
  font-size: 16px;
  position: relative;
  padding-bottom: 24px;
}
.about-left li:last-child {
  padding-bottom: 0;
}
.about-left li::before {
  content: "";
  position: absolute;
  top: 11px;
  left: -35px;
  width: 25px;
  height: 2px;
  background: #fb565a;
}
.about-right {
  width: 360px;
  display: inline-block;
  vertical-align: middle;
}
.about-right .about-text {
  font-size: 16px;
  margin-left: 15px;
  margin-top: 23px;
}
.about-right ul {
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
  margin-top: 63px;
}
.numbers li {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 18px;
  width: 100px;
  margin-right: 19px;
}
.numbers li:last-child {
  width: 104px;
  margin-right: 0;
  padding: 0;
}
.numbers b {
  display: block;
  font-size: 45px;
  line-height: 0;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0;
}
.numbers p {
  padding: 0;
  margin: 0;
  margin-top: 43px;
  margin-left: 3px;
}
/* Логотипы клиентов*/
.clients {
  font-size: 0;
  margin-left: 30px;
  padding-top: 50px;
  padding-bottom: 43px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 80px;
}
.client-1 {
  width: 199px;
  margin-right: 97px;
  position: relative;
}
.client-1::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
  top: 10px;
  right: -52px;
}
.client-2 {
  width: 209px;
  margin-right: 44px;
}
.client-3 {
  width: 185px;
  margin-right: 64px;
  border-left: 2px solid #eeeeee;
  border-right: 2px solid #eeeeee;
  padding-left: 58px;
  padding-right: 55px;
}
.client-4 {
  width: 173px;
}
.clients a {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.client img {
  display: inline-block;
  vertical-align: middle;
}
.client-1 img:hover {
  background: url("../img/logo-1.png hvr.png");
}
.client-2 img:hover {
  background: url("../img/logo-2.png hvr.png");
}
.client-3 img:hover {
  background: url("../img/logo-3.png hvr.png");
}
.client-4 img:hover {
  background: url("../img/logo-4.png hvr.png");
}

/* Каталог */
.page-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 600;
  text-align: center;
  margin: 0;
  padding-top: 68px;
  padding-bottom: 112px;
  margin-bottom: 53px;
}
/* Боковое меню */
.filters {
  width: 260px;
  float: left;
}
.filter-row {
  float: left;
  width: 270px;
  margin-bottom: 12px;
}
.filter-title {
  width: 140px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  font-weight: bold;
  margin: 0px;
  padding: 0;
  margin-bottom: 52px;
}
.range-filter {
  width: 260px;
  margin-bottom: 20px;
}
.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background: #eeeeee;
  border-radius: 3px;
}
.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}
.range-controls .bar {
  width: 170px;
  height: 2px;
  background: #00ca74;
}
.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  border: 8px solid white;
  background: #ababab;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cccdcd;
}
.range-controls .min-toggle {
  left: 17px;
}
.range-controls .max-toggle {
  left: 160px;
}
.price-controls {
  font-size: 0;
}
.price-controls label {
  font-size: 16px;
  display: inline-block;
  width: 50%;
}
.max-price {
  text-align: right;
}
.price-controls input {
  width: 81px;
  height: 40px;
  padding: 0;
  margin-left: 10px;
  border: none;
  background: #eeeeee;
  font-size: 16px;
  font-family: 'Roboto',Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  color: black;
  border-radius: 3px;
}
input[type="radio"] {
  display: none;
}
input[type="radio"] + label {
  display: block;
  margin: 0;
  line-height: 20px;
  padding-left: 30px;
  position: relative;
  cursor: pointer;
}
input[type="radio"] + label::before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  background: white;
  border: 2px solid #b8b8b8;
  border-radius: 15px;
  left: 0;
  top: -1px;
}
input[type="radio"] + label:hover::before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  background: white;
  border: 2px solid #4d4d4d;
  border-radius: 15px;
  left: 0;
  top: -1px;
}
input[type="radio"]:checked + label::after {
  content: "";
  display: block;
  position: absolute;
  left: 8px;
  top: 7px;
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background: #b8b8b8;
}
input[type="radio"]:checked + label:hover::after {
  content: "";
  display: block;
  position: absolute;
  left: 8px;
  top: 7px;
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background: #4d4d4d;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  display: block;
  margin: 0;
  line-height: 20px;
  padding-left: 30px;
  position: relative;
  cursor: pointer;
}
input[type="checkbox"] + label::before {
  content: "";
  display: block;
  position: absolute;
  width: 23px;
  height: 23px;
  background: url("../img/sprite.png");
  background-position: -10px -45px;
  left: 0;
  top: 0;
}
input[type="checkbox"] + label:hover::before {
  content: "";
  display: block;
  position: absolute;
  width: 23px;
  height: 23px;
  background: url("../img/sprite.png");
  background-position: -10px -88px;
  left: 0;
  top: 0;
}
input[type="checkbox"]:checked + label::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background: white url("../img/sprite.png");
  width: 27px;
  height: 23px;
  background-position: -10px -131px;
}
input[type="checkbox"]:checked + label:hover::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background: white url("../img/sprite.png");
  width: 27px;
  height: 23px;
  background-position: -10px -174px;
}
.filter-btn {
  float: left;
  width: 260px;
  margin-top: 40px;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 35px;
  background: #eeeeee;
  border-radius: 3px;
  border: 1px solid #eeeeee;
  cursor: pointer;
}
.filter-btn:hover {
  text-transform: uppercase;
  text-align: center;
  padding: 15px 35px;
  background: #dfdfdf;
  border-radius: 3px;
}
/* Каталог */
.catalog {
  width: 765px;
  float: right;
}
.sortby-title {
  float: left;
  width: 140px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  padding: 0;
  margin-right: 265px;
  margin-bottom: 54px;
}
.sortby-form {
  float: left;
  width: 320px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.sortby-form li {
  display: inline-block;
  vertical-align: top;
  margin-right: 22px;
}
.sortby-form li:last-child {
  margin-right: 0;
}
.sortby-form a {
  font-size: 14px;
  text-decoration: none;
  color: #bdbdbd;
  text-transform: uppercase;
}
.sortby-form a:hover {
  color: #666666;
}
.sortby-form .active {
  color: black;
}
.arrows {
  float: right;
  width: 40px;
}
.arrows a {
  position: relative;
}
.arrow-down::before {
  position: absolute;
  content: "";
  top: 7px;
  width: 0;
  height: 0;
  border-left: 4.5px solid transparent;
  border-right: 4.5px solid transparent;
  border-top: 9px solid black;
}
.arrow-down:hover::before {
  position: absolute;
  content: "";
  top: 7px;
  width: 0;
  height: 0;
  border-left: 4.5px solid transparent;
  border-right: 4.5px solid transparent;
  border-top: 9px solid #999999;
}
.arrow-up::before {
  position: absolute;
  content: "";
  top: 7px;
  left: 25px;
  width: 0;
  height: 0;
  border-left: 4.5px solid transparent;
  border-right: 4.5px solid transparent;
  border-bottom: 9px solid #cccccc;
}
.arrow-up:hover::before {
  position: absolute;
  content: "";
  top: 7px;
  left: 25px;
  width: 0;
  height: 0;
  border-left: 4.5px solid transparent;
  border-right: 4.5px solid transparent;
  border-bottom: 9px solid #999999;
}
.catalog-items {
  font-size: 0px;
}
.head {
  background-color: #e9e9e9;
  height: 41px;
  width: 360px;
  border-radius: 3px;
}
.head:hover {
  background-color: #4d4d4d;
  height: 41px;
  width: 360px;
  border-radius: 3px;
}
.circle {
  position: relative;
  top: 14px;
  left: 20px;
  width: 14px;
  height: 14px;
  background: white;
  border-radius: 50px;
}
.circle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 23px;
  width: 14px;
  height: 14px;
  background: white;
  border-radius: 50px;
}
.circle::after {
  content: "";
  position: absolute;
  top: 0;
  left: 45px;
  width: 14px;
  height: 14px;
  background: white;
  border-radius: 50px;
}
.catalog-items {
  margin-left: 5px;
}
.catalog-item {
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}
.catalog-item img {
  border-radius: 3px;
}
.catalog-item img:hover {
  border-radius: 3px;
  box-shadow: 0 0 9px 2px #d5d5d5;
}
.catalog-item:nth-child(odd) {
  margin-right: 40px;
}
.item-content {
  display: none;
}
/* Pagination */
.pagination ul {
  font-size: 0;
  padding: 0;
  margin: 0;
}
.pagination li {
  display: inline-block;
  vertical-align: bottom;
  padding: 10px 20px;
  background: #eeeeee;
  border-radius: 3px;
}
.pagination a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  cursor: pointer;
}
.pagination li:hover {
  background: #dfdfdf;
}
.pagination li:first-child {
  padding: 8px 17px;
  border-radius: 3px;
  border: 3px solid #dfdfdf;
  background: white;
}
.next-page {
  text-transform: uppercase;
}
/* Форма обратной связи (pop-up)*/
.feedback {
  display: none;
  position: absolute;
  top: 500px;
  left: 50%;
  margin-left: -480px;
  width: 963px;
  color: #000000;
  background: white;
  box-shadow: 0 6px 35px 2px black;
}
.feedback-title {
  text-align: left;
  margin: 0;
  padding: 0;
  font-size: 45px;
  margin-bottom: 30px;
  margin-top: 70px;
  margin-left: 100px;
}
.feedback-form {
  padding: 30px 100px;
  padding-bottom: 84px;
}
.close-btn {
  position: absolute;
  top: 80px;
  right: 90px;
  width:21px;
  height: 21px;
  font-size: 0;
  border: 0;
  cursor: pointer;
  background-color: white;
}
.close-btn::before,
.close-btn::after {
  content:"";
  position: absolute;
  width: 21px;
  height: 21px;
  background-image:url("../img/sprite.png");
  background-position: -10px -217px;
}
.close-btn:hover::before,
.close-btn:hover::after {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  background-image: url("../img/sprite.png");
  background-position: -10px -258px;
}
.feedback-name-field {
  font-weight: bold;
  float: left;
  width: 360px;
  color: #7f7f7f;
}
.feedback-email-field {
  font-weight: bold;
  float: right;
  width: 360px;
}
.feedback-text-field  {
  font-weight: bold;
  width: 760px;
  clear: both;
}
input[type="text"] {
  width: 360px;
  height: 50px;
  border: 2px solid #eeeeee;
  border-radius: 3px;
  margin-top: 12px;
  margin-bottom: 35px;
  padding-left: 20px;
}
input:hover[type="text"] {
  border: 2px solid #b4b9bb;
}
label {
  width: 110px;
}
textarea {
  width: 760px;
  margin-top: 12px;
  margin-bottom: 47px;
  border: 2px solid #eeeeee;
  border-radius: 3px;
  padding-left: 20px;
  padding-top: 13px;
  padding-bottom: 86px;
}
textarea:hover {
  border: 2px solid #b4b9bb;
}
.feedback .btn {
  border: 0;
  padding: 16px 80px;
}
